alabaster==0.7.12
astroid==2.8.5
attrs==21.2.0
autopep8==1.6.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.7
docutils==0.17.1
idna==3.3
imagesize==1.3.0
isort==5.10.1
Jinja2==3.0.3
lazy-object-proxy==1.6.0
markdown-it-py==1.1.0
MarkupSafe==2.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
-e git+https://github.com/giraycoskun/mySearchAlgorithms.git@3a29fe8491904aab2c1e8648da56040ac3b2de73#egg=mySearchAlgorithms
myst-parser==0.15.2
packaging==21.2
platformdirs==2.4.0
pycodestyle==2.8.0
Pygments==2.10.0
pylint==2.11.1
pyparsing==2.4.7
pytz==2021.3
PyYAML==6.0
requests==2.26.0
snowballstemmer==2.1.0
Sphinx==4.3.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.3
